# Line profiler stuff.
**/*.lprof

# Byte-compiled / optimized / DLL files
__pycache__/

# C-compiled stuff
bin/**

# macOS stuff
**/.DS_Store

# Photoshop stuff
**/*.psd

# Python stuff
.coverage
**/*.prof

# Development stuff
.vscode

